APP_NAME=AENHANCE
APP_ENV=local
APP_KEY=base64:YigLYbuVoPzrmKda2c+i89TmdQ036MEDdu8g0W9yHuc=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=aenhance
DB_USERNAME=aenhance
DB_PASSWORD=aenhancepwd

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_URL="smtp://medhioubyassine%40gmail.com:kogyigdmlkblygak@smtp.gmail.com:587?encryption=tls&verify_peer=0&verify_peer_name=0"
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=medhioubyassine@gmail.com
MAIL_PASSWORD=kogyigdmlkblygak
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="medhioubyassine@gmail.com"
MAIL_FROM_NAME="AENHANCE"
MAIL_ALLOW_SELF_SIGNED=true
MAIL_VERIFY_PEER=false
MAIL_VERIFY_PEER_NAME=false

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


CLOUDINARY_URL=cloudinary://348296368257493:kk6hr4aGELlkTLuOyzQhwfrZxio@dtaszolbl

JITSI_DOMAIN=meet.jit.si
JAAS_APP_ID=vpaas-magic-cookie-f1e4f97eb8a84aefbac05880cf3c5e36
JAAS_KID=vpaas-magic-cookie-f1e4f97eb8a84aefbac05880cf3c5e36/fe9485
JAAS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIE...snip...\n-----END PRIVATE KEY-----\n"
JAAS_PRIVATE_KEY_PATH=C:\\Users\\madhioub\\Desktop\\psych-app\\storage\\app\\jaas-private-key.pem
VITE_SIGNALING_URL=ws://localhost:3001


CLICTOPAY_BASE_URL=https://test.clictopay.com/payment/rest
CLICTOPAY_USERNAME=2567710229
CLICTOPAY_PASSWORD=ymp8iH8C
CLICTOPAY_LANGUAGE=en
CLICTOPAY_CA_BUNDLE=C:\xampp\apache\bin\curl-ca-bundle.crt
CLICTOPAY_SSL_VERIFY=false
CLICTOPAY_DISABLE_REDIRECT=false